<app-menu [currentBackNavigation]="navigateItem"></app-menu>

<ion-content class="content" [fullscreen]="true" scroll-assist="false">
  <div class="fullContainer" *ngIf="item">
    <div class="center">
      <p class="center-text">
        Detalhes do Item
      </p>
  </div>

    <ul class="cardContainer">
      <div class="card">
        <div class="contentDiv">
          <div class="contentDiv1">
            <h1><b class="bold">Nome:</b> {{item.descricao}}</h1>
            <div class="divButton">
              <button class="editButton">
                <ion-icon name="pencil" (click)="setOpen(true)" ></ion-icon>
              </button>
            </div>
          </div>
            <div class="contentDiv1">
              <h1><b class="bold">Quantidade:</b> {{item.quantidade}}</h1>
            </div>
       
            <div class="contentDiv3" >
              <div class="attribute-col" *ngFor="let attr of item.itemAtributos">
                <h1 class="title-attr">{{ attr.descricao }}</h1>
                <span class="attribute-key">
                    <div>
                        Unidade: {{ attr.unidade }}
                    </div>
                    <div>
                        Valor: {{ attr.itemValor[0].valor }}{{ attr.sigla }}
                    </div>
                </span> 
                  
              </div>
            </div>
            
            
        </div>
      </div>
    </ul>

    <h1 class="compartimentoTittle">Fotos do Compartimento</h1>

    <app-image-carosel [currentAnexos]="currentAnexos"></app-image-carosel>
    
  </div>

</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
      <ion-header class="headerItens" [translucent]="true" id="main-content">
        <div class="innerDiv">
          <ion-icon (click)="setOpen(false)"  class="back-icon" name="arrow-back"></ion-icon>
          <ion-img class="logo" src="../../assets/spark-logo.svg" alt="sparkk-logo"></ion-img>
          <div>
            
          </div>
        </div>
    </ion-header>
  
    <ion-content class="ion-padding">
      <div class="center">
          <p class="center-text-header">Atualizar Item</p>
          <hr />
      </div>
      <form >
          <div style="padding: 5px;">
              <ion-input class="innerInput" name="nome" label="Nome" [(ngModel)]="formData.descricao" value="{{formData.descricao }}"  label-placement="floating" fill="outline" placeholder="Insira um nome"></ion-input>
          </div>

          <div style="padding: 5px;">
            <ion-input type="number" class="innerInput" name="quantidade" label="Quantidade" [(ngModel)]="formData.quantidade" value="{{formData.quantidade }}" label-placement="floating" fill="outline" placeholder="Insira uma quantidade"></ion-input>
          </div>

          <!-- <div class="grid-system">
              <div class="grid-item" *ngFor="let input of tipoAtributos; let i = index">
                  <div *ngIf="input.selecionavel === 'sim'">
                    <ion-list>
                      <ion-select label="{{input.descricao}}" name="{{input.id}}" [(ngModel)]="novosValores[i].atributo_valor"  >
                        <ion-select-option name="valor"  *ngFor="let options of input.tipoItemValor"  [value]="options.valor">{{options.valor}} ({{ input.sigla}})</ion-select-option>
                      </ion-select>
                  </ion-list>
                    
                  </div>

                  <div *ngIf="input.selecionavel === 'não'">
                      <ion-input class="innerInput" name="{{input.id}}" label="{{ input.descricao }}" [(ngModel)]="novosValores[i].atributo_valor" label-placement="floating" fill="outline" placeholder="Insira {{ input.descricao }}"></ion-input>
                  </div>
              </div>
          </div> -->

          <div class="grid-system">
            <div class="grid-item" *ngFor="let input of itemAtributoToUpdate">
                <div *ngIf="input.selecionavel === 'sim'">
                  <ion-list>
                    <ion-select label="{{input.descricao}}" [(ngModel)]="input.valor" [ngModelOptions]="{standalone: true}">
                      <ion-select-option name="valor"  *ngFor="let valor of input.tipoItemValor" [value]="valor.valor">{{valor.valor}} ({{input.sigla}})</ion-select-option>
                    </ion-select>
                </ion-list>
                </div>

                <div *ngIf="input.selecionavel === 'não'">
                    <ion-input class="innerInput" label="{{ input.descricao }}" [(ngModel)]="input.valor" [ngModelOptions]="{standalone: true}" label-placement="floating" fill="outline" placeholder="Insira {{ input.descricao }}"></ion-input>
                </div>
            </div>
        </div>

          <div id="images">
              <div *ngIf="currentAnexos.length > 0">
                  <app-image-carosel *ngIf="currentAnexos" [currentAnexos]="currentAnexos"></app-image-carosel>
              </div>

              <button type="button" class="button-img" (click)="takePicture()">
                  Capturar imagem
              </button>
          </div>

          <div class="actions">
              <ion-button type="submit" (click)="submitEdit()" >Salvar</ion-button>
          </div>
      </form>
  </ion-content>
    
  </ng-template>
</ion-modal>
<app-block-loading></app-block-loading>



